Mochamad Raffli Ispriyanto (PYTN-KS10-022)

CONDITIONAL

In [1]:
angka = 20
print(angka, 'lebih besar dari 10')

20 lebih besar dari 10

In [3]:
angka = 2
if angka < 10:
    print(angka, 'kurang dari 10')

2 lebih dari 10

In [6]:
angka = 20
if angka < 10:
    print(angka, 'kurang dari 10')
else:
    print(angka, 'lebih dari 10')

20 lebih dari 10

In [8]:
Saku = 2000
if Saku == 10000:
    print(f"Dengan uang {Saku} anda dapat membeli Paket Ayam Geprek")
elif Saku == 15000:
    print(f"Dengan uang {Saku} anda dapat membeli Nasi Padang")
elif Saku > 150000:
    print(f"Dengan uang {Saku} anda dapat membeli apa saja")
else:
    print(f"Dengan uang {Saku} lebih baik anda puasa saja")

Dengan uang 2000 lebih baik anda puasa saja

In [5]:
HargaMotor = 20000000
HargaMobil = 200000000
Budget = 2000

if Budget >= HargaMotor:
    print('Beli motor')
elif Budget >= HargaMobil:
    print('Beli mobil')
else:
    print('Halu teross')

Halu teross

CONTOH TABEL PERKALIAN 8

In [1]:
i = 1
while i <= 10:
    print('8 x',i,'=',i*8)
    i = i + 1

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [2]:
for i in list(range(1,11)):
        print('8 x',i,'=',i*8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [1]:
i = 1
j = 1
while j <= 10:
    while i <= 10:
        print(f"{j} x {i} = {j*i}")
        i += 1
    i = 1
    j += 1
    print("="*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==================================================
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==================================================
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==================================================
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==================================================
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==================================================
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==================================================
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==================================================
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==================================================
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==================================================
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
==================================================

In [2]:
# else dalam looping
i = 0
while i < 5:
    print("masih looping")
    i += 1
    if i == 3:
        break
print("looping selesai")

masih looping
masih looping
masih looping
looping selesai

In [3]:
buah = ["Pepaya", "Mangga", "Pisang", "Jambu"]
for i in buah:
    print(f"Saya ingin makan buah {i}")

Saya ingin makan buah Pepaya
Saya ingin makan buah Mangga
Saya ingin makan buah Pisang
Saya ingin makan buah Jambu

In [4]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(f'7 x {i} = {7*i}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
for j in range(1,11):
    for i in range(1,11):
        print(f"{j} x {i} = {j*i}")
    print("="*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==================================================
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==================================================
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==================================================
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==================================================
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==================================================
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==================================================
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==================================================
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==================================================
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==================================================
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
==================================================